*{
  margin: 0%;
  padding: 0%;
}

.topnav {
  justify-content: space-around;
  display: flex;
  flex-direction: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav h3.active {
  margin-top: 10px;
  color: black;
  color: white;
  font-size: 26px;
}
hr.new4 {
  border: 1px solid papayawhip;
}

.legeng_text {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../src/backimg.png");
  font-family: sans-serif;
  text-align: center;
 
}
.legeng_text h1{
  padding-top: 10px;
  color: blanchedalmond;
}


   /* .legeng_text h1 { 
   /* width: 100px; 
   height: 100px; 
    background: red;   */
    /* position: relative;
  animation: mymove 6s infinite;  */

form{
margin-top: 50px;
}
form p{
    color: white;
} 

.ali_raza{
width: 20%;
height: 35px;
text-align: center;
}
.notify {
  height: 37px;
}

.icons{
  background-color: skyblue;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;

}

/* .back_img {
  background-color: gray;
} */
.hedding {
  text-align: center;
  height: 162px;
  background-color: powderblue;
  padding-top: 10px;

 
}
.airplan {
  font-size: 80px;
}

.portfolio {
  background-color: lightcyan;
  padding-bottom: 42px;
  padding-top: 20px;
  text-align: center;
}
.all_img {
  background-color: lightcyan;
  display: flex;
  justify-content: space-around;
} 
.all_img p{
  font-size: 10px;
  font-weight: bold;
}
 .images-one{
margin-top: auto;
}
.image_three {
  margin-top: auto;
} 

@media screen and (max-width: 700px) {
  .all_img {
  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  } 
}
.servc {
  text-align: center;
 padding-top: 20px;
  padding-bottom: 20px;
  background-color: beige;
}

     @media screen and (max-width: 700px) {
  .service_main{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  }
}     
.service_main {
  
  justify-content: space-evenly;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
  
} 
.div_one{
  margin-bottom: 20px;
    background-color: lightcyan;
    padding-top: 10px;
    color: black;
  }

.div_two {
  margin-bottom: 20px;
  background-color: lightgoldenrodyellow;
   padding-top: 10px;
  color: black; 

  
}
.div_three {
  margin-bottom: 20px;
  background-color: lightgreen;
   padding-top: 10px;
  color: black; 
}
 .div_four { 
   margin-bottom: 20px;
   /* height: 200px; */
  /* width: 20%; */
background-color: lightsalmon;
  padding-top: 10px;
  color: black; 
}   

.imag_one:hover {
background-color: lightgrey;
}
.imah_two:hover{
  background-color: lightgrey;
}
.images-three:hover{
  background-color: lightgrey;
}
.images-one:hover{
  background-color: lightgrey;
}
.imah-two:hover {
  background-color: lightgrey;
}
.imag_three:hover {
  background-color: lightgrey;
}

 .footer_div {
  color: white;
  padding-bottom: 100px;
  background-color: black;
  padding-top: 75px;
  font-size: xx-large;
  } 
   .footer_div h2{
    padding-bottom: 25px;
  } 


.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 6px;
} 
.customers {
  
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  

}  
 .customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
} 

.customers tr:hover
 
{
  background-color:lightblue;
}

 /* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

 .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}  */



 .new_img  {
  background-size: cover;
    background-repeat: no-repeat;
    width: auto; 
     height: 900px;
background-image: url("../src/new.png");
}
.block1{
margin-left: 80px;
margin-top: 100px;
}

.block2{
margin-left: 140px;
    
  }  