*{
  margin: 0%;
  padding: 0%;
}

.topnav {
  justify-content: space-around;
  display: flex;
  flex-direction: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav h3.active {
  margin-top: 10px;
  color: black;
  color: white;
  font-size: 26px;
}
hr.new4 {
  border: 2px solid pink;
}

.legeng_text {
  text-align: center;
  margin-top: 60px;
}

form{
margin-top: inherit;

}

.ali_raza{
width: 20%;
height: 25px;
text-align: center;
}
.notify {
  height: 27px;
  
}

.icons{
  padding-bottom: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;

}

.back_img {
  background-color: gray;
}
.hedding {
  
  text-align: center;
  height: 125px;
  padding-top: 44px;
  color: white;
  background-color: yellow;
 
}
.airplan {
  font-size: 80px;
}

.portfolio {
  margin-top: 50px;
text-align: center;

}

/* .images-one {
  padding-top: 50px;
  display: flex;
    justify-content: center;
}

.images-two {
  display: flex;
  justify-content: center;
} */


.all_img {
  margin-left: 100px;
  display: flex;
  flex-direction: inherit;
}

