*{
  margin: 0%;
  padding: 0%;
}

.topnav {
  justify-content: space-around;
  display: flex;
  flex-direction: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav h3.active {
  margin-top: 10px;
  color: black;
  color: white;
  font-size: 26px;
}
hr.new4 {
  border: 1px solid papayawhip;
}

.legeng_text {
  height: 200px;
  /* background-repeat: no-repeat; */
  background-image: url("../src/backimg.png");
  font-family: sans-serif;
  text-align: center;
  /* margin-top: 60px; */
}
.legeng_text h1{
color: aqua;
}

form{
margin-top: inherit;

}

.ali_raza{
width: 20%;
height: 35px;
text-align: center;
}
.notify {
  height: 37px;
}

.icons{
  background-color: khaki;
  padding-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

/* .back_img {
  background-color: gray;
} */
.hedding {
  text-align: center;
  height: 125px;
  padding-top: 44px;
  background-color: yellow;
 
}
.airplan {
  font-size: 80px;
}

.portfolio {
  margin-bottom: 30px;
  margin-top: 50px;
text-align: center;
}
.all_img {
  background-color: lavender;
  display: flex;
  justify-content: space-around;
} 
.all_img p{
  font-size: 10px;
  font-weight: bold;
}
 .images-one{
margin-top: auto;
}
.image_three {
  margin-top: auto;
} 

@media screen and (max-width: 700px) {
  .all_img {
  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  } 
}
.servc {
  text-align: center;
  margin-top: 30px;
}

     @media screen and (max-width: 700px) {
  .service_main{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  }
}     
.service_main {
  
  justify-content: space-evenly;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
  
} 
.div_one{
  margin-bottom: 20px;
/* height: 200px; */
    /* width: 20%; */
    background-color: lightcyan;
    padding-top: 10px;
    color: black;
  }

.div_two {
  margin-bottom: 20px;
  /* height: 200px; */
  /* width: 20%; */
  background-color: lightgoldenrodyellow;
   padding-top: 10px;
  color: black; 

  
}
.div_three {
  margin-bottom: 20px;
  /* height: 200px; */
  /* width: 20%; */
  background-color: lightgreen;
   padding-top: 10px;
  color: black; 
}
 .div_four { 
   margin-bottom: 20px;
   /* height: 200px; */
  /* width: 20%; */
background-color: lightsalmon;
  padding-top: 10px;
  color: black; 
}   

.footer_div {
  color: white;
  text-align: center;
padding-bottom: 150px;
background-color: black;
padding-top: 118px;
font-size: xx-large;
}
.imag_one:hover {
background-color: lightgrey;
}
.imah_two:hover{
  background-color: lightgrey;
}
.images-three:hover{
  background-color: lightgrey;
}
.images-one:hover{
  background-color: lightgrey;
}
.imah-two:hover {
  background-color: lightgrey;
}
.imag_three:hover {
  background-color: lightgrey;
}