*{
  margin: 0%;
  padding: 0%;
}

.topnav {
  justify-content: space-around;
  display: flex;
  flex-direction: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav h3.active {
  margin-top: 10px;
  color: black;
  color: white;
  font-size: 26px;
}
hr.new4 {
  border: 2px solid pink;
}

.legeng_text {
  text-align: center;
  margin-top: 60px;
}

form{
margin-top: inherit;

}

.ali_raza{
width: 20%;
height: 25px;
text-align: center;
}
.notify {
  height: 27px;
  
}

.icons{
  padding-bottom: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;

}

.back_img {
  background-color: gray;
}
.hedding {
  text-align: center;
  height: 125px;
  padding-top: 44px;
  background-color: yellow;
 
}
.airplan {
  font-size: 80px;
}

.portfolio {
  margin-bottom: 30px;
  margin-top: 50px;
text-align: center;
}
.all_img {
  display: flex;
  justify-content: space-around;
} 
.all_img p{
  font-size: 10px;
  font-weight: bold;
}
 .images-one{
margin-top: auto;
}
.image_three {
  margin-top: auto;
} 

@media screen and (max-width: 670px) {

  .all_img {
  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  } 
}

.servc {
  text-align: center;
  margin-top: 30px;
}









/* .images-one {
  padding-top: 50px;
  display: flex;
    justify-content: center;
}

.images-two {
  display: flex;
  justify-content: center;
} */

/* 


/* .para-div {
   display: flex;
  justify-content: space-around;
} */
/* .para2_div {
display: flex;
justify-content: space-around;
} */